@{
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
    ViewData["Title"] = "Liên Hệ";
}

<!-- contact section -->
<section class="contact_section layout_padding">
    <div class="container px-0">
        <div class="heading_container" data-aos="fade-down">
            <h2 class="">
                Liên Hệ Với Chúng Tôi
            </h2>
        </div>
    </div>
    <div class="container container-bg">
        <div class="row">
            <div class="col-lg-7 col-md-6 px-0" data-aos="fade-right">
                <div class="map_container">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3584.564628318991!2d105.77005527499928!3d20.983379489336095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313453178cb9f0a9%3A0x9fafbe89642c9a27!2zVuG6oW4gUGjDumMgQnVpbGRpbmc!5e1!3m2!1svi!2s!4v1741687451755!5m2!1svi!2s"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 px-0" data-aos="fade-left">
                <form action="#">
                    <div data-aos="zoom-in" data-aos-delay="100">
                        <input type="text" placeholder="Tên" />
                    </div>
                    <div data-aos="zoom-in" data-aos-delay="200">
                        <input type="email" placeholder="Email" />
                    </div>
                    <div data-aos="zoom-in" data-aos-delay="300">
                        <input type="text" placeholder="Số Điện Thoại" />
                    </div>
                    <div data-aos="zoom-in" data-aos-delay="400">
                        <input type="text" class="message-box" placeholder="Lời Nhắn" />
                    </div>
                    <div class="d-flex" data-aos="zoom-in" data-aos-delay="500">
                        <button>
                            GỬI
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- end contact section -->