html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: deeppink;
    border-radius: 12px;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: hotpink;
    }

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 12px;
}

::-webkit-scrollbar-horizontal {
    height: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: deeppink;
}

    ::-webkit-scrollbar-thumb:horizontal:hover {
        background-color: deeppink;
    }